[user]
    email = jair.zheng@meginfo.com
    name = Jair Zheng

[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto

[gui]
    recentrepo = /Users/jairzheng/workspace/silverpeakprd
    recentrepo = /Users/jairzheng/workspace/junobabyprd
    recentrepo = /Users/jairzheng/workspace/efQA
[core]
    excludesfile = /Users/jairzheng/.gitignore
    whitespace = nowarn
    editor = /usr/bin/vim
    autocrlf = input
[apply]
    whitespace = nowarn
[merge]
    #tool = mydiff
[mergetool "mydiff"]
    cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 $BASE $LOCAL $REMOTE $MERGED

[mergetool]
    keepBackup = false

[diff]
    tool = opendiff

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path = 
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
